.App-header {
    background-color: #0a2343;
    color: #fff;
    padding: 20px 20px;
    padding-bottom: 10px;
    text-align: center;
    
  }
  
  .App-title {
    font-size: 4em;
    font-family: 'Sniglet', cursive;
  }
  
  .App-intro {
    font-size: 1.5em;
    font-family: 'Sniglet', cursive;
  }